#
#           • - - - - - - - - - - - - - - - - - - - - - •
#           |                                           |
#           |      █  █  ███  ███  █    ███  ██ ██      |
#           |      ██ █  █    █    █     █    ███       |
#           |      █ ██  ███  ███  █     █     █        |
#           |      █  █  █    █    █     █    ███       |
#           |      █  █  ███  █    ███  ███  ██ ██      |
#           |                                           |
#           • - - - - - - - - - - - - - - - - - - - - - •
#
#           @link https://github.com/Neflix/
#

root = true

[*.php]
indent_style = tab
indent_size = 4

[*]
trim_trailing_whitespace = true
curly_bracket_next_line = true
